* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mona Sans", serif;
}

/* common colors */

.bg-blue {
    background-color: #087DEA;
}

.text-blue {
    color: #087DEA;
}

.bg-skyBlue {
    background-color: #00D6E4;
}

.text-skyBlue {
    color: #00D6E4;
}

.bg-darkBlue {
    background-color: #011E4F;
}

.text-darkBlue {
    color: #011E4F;
}

.bg-lightGray {
    background-color: #636363;
}

.text-lightGray {
    color: #636363;
}

.sub-text-gray {
    color: #4c4c4c;
}

.sub-text-blue {
    color: #077fe9;
}

.sub-text-blue-size {
    font-weight: 900;
    font-size: 32px;
}

.sub-text-gray-size {
    font-size: 28px;
}

.description-text-lightGray {
    font-size: 12px;
}

.img-size {
    height: 150px;
}


/* header style */

.img-div {
    width: 20%;
    position: relative;
}

button:focus:not(:focus-visible) {
    outline: none;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 #ffffff;
}

.search-btn {
    padding: 0px 6px 4px 6px;
    border-radius: 50%;
    right: 10px;
    top: 10px;
}

.search-btn svg {
    fill: #ffffff;
    width: 14px;

}

.search-form {
    right: -25px;
    top: -2px;
}

.header-img {
    width: 15%;
    display: inline-block;
}

.header-logo {
    width: 100%;
}

.header-logo-user {
    width: 90%;
}

.input-search {
    background-color: #eceaea;
    border: 1px solid #ccc;
}

.input-search::placeholder {
    font-size: 10px;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.dropdown-text {
    font-size: 12px;
    font-weight: 500;
}

/* banner style */

.bg-img {
    background-image: url(../Images/Rectangle\ 5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 15%;
}

.banner-effect {
    width: 20%;
}

.banner-effect-img {
    right: -94px;
    width: 25%;
    display: block;
}

.s13 {
    width: 50%;
}

/* .california {
    background-image: url(../Images/Rectangle\ 192.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
} */

.rect-div img {
    right: -65%;
    top: 70%;
    position: absolute;
    width: 60%;
}

.california-div {
    top: 71px;
    right: -46px;
    /* width: 50%; */
    border: 5px solid #00D6E4;
    width: 37%;
    border-radius: 15%;
    background-color: #ffffff;
}

/* .california {
    border: 5px solid #00D6E4;
    width: 55%;
    border-radius: 15%;
    background-color: #ffffff;
} */

.card-body h5 {
    font-size: 12px;
    width: 100%;
    padding: 26px 30px 0px 30px;
}

.card-body p {
    font-size: 7px;
    padding: 6px 30px 0px 30px;
}


.half-circle-img {
    width: 48px;
    right: -39px;
    top: -63px;
}

.banner-icons {
    width: 40%;
}

.s13-icon {
    right: -50%;
}

.dot-icon {
    left: -20%;
}

.banner-image {
    width: 100%;
}

.banner-img {
    width: 100%;
    margin: 0px auto;
}

.head {
    font-size: 38px;
    line-height: 38px;
    font-weight: 900;
}

.sub-head {
    font-size: 16px;
    font-weight: 700;
}

.description {
    font-size: 12px;
}

/* Our list section */

.card-text-font {
    font-size: 12px;
} 

.owl-carousel .owl-item img {
    display: block;
    width: 25%;
}

.feature-card .substract-img {
    bottom: -50px;
    left: 0;
    height: 80%;
    width: 60% !important;
}

.owl-theme .owl-nav {
    margin-top: 10px;
    position: absolute;
    top: -48%;
    right: 0;
}

.bg-card-img {
    background-image: url(./Images/Rectangle\ 82.png);
}

.icon-color {
    fill: #00D6E4;
}

.icon-size {
    width: 25%;
}

.feature-card {
    background: linear-gradient(135deg, #004aad, #00c6fb);
    /* background-image: url(../Images/Rectangle_82-removebg-preview.png); */
    color: white;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    border: 1px solid black;
}

.feature-card img {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}
.feature-card h5 {
    font-weight: bold;
    margin-bottom: 10px;
    width: 25%;
    font-size: 15px;
}
.feature-card p {
    text-align: left;
    font-size: 12px;
}

/* our list category style */

.img-div {
    width: 15%;
}

.img-one {
    left: 0px;
}

.img-two {
    left: 15px;
}

.img-three {
    left: 30px;
}

.para-catg {
    font-size: 12px;
    left: 55px;
    top: 5px;
}

.text-footer {
    font-size: 12px;
}


/* responsive */
@media screen and (max-width: 1440px) {

    .head {
        font-size: 41px;
        line-height: 36px;
    }

    .sub-head {
        font-size: 18px;
    }

    .s13-icon {
        right: 50%;
        width: 15%;
    }

    .banner-effect-img {
        right: -57px;
    }
}

@media screen and (max-width: 1025px) {
    .s13-icon {
        right: 50%;
        width: 15%;
    }

    .rect-div img {
        right: -37%;
        top: 23%;
        width: 53%;
    }

    .california .card-body-div {
        width: 47%;
        top: 47px;
        right: -318px;
    }

    .head {
        font-size: 38px;
        line-height: 35px;
    }

    .sub-head {
        font-size: 12px;
    }

    .banner-effect-img {
        right: -30px;
    }

    
}

@media screen and (max-width: 769px) {
    
    .img-div {
        width: 35%;
    }

    .header-img {
        width: 3%;
    }

    .header-logo {
        width: 100%;
    }

    .header-logo-user {
        width: 84%;
    }
    
    .dropdown-toggle::after {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    /* banner styles */

    .head {
        font-size: 52px;
        line-height: 45px;
    }

    .s13 {
        width: 25%;
    }

    .s13-icon {
        right: 50%;
    }

    .banner-image {
        width: 70%;
    }

    .rect-div img {
        right: -83%;
        top: 44%;
        width: 60%;
    }

    .california .card-body-div {
        width: 47%;
        top: 75px;
        right: -472px;
    }

    .california .list-img {
        top: -6px;
        left: 26px;
        width: 36%;
    }
}

@media screen and (max-width: 426px) {
    
    .img-div {
        width: 50%;
        left: -42px;
    }

    .header-img {
        width: 12%;
    }

    .navbar-div {
        padding: 20px 0px;
    }
    
    .dropdown-toggle::after {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    .search-btn {
        padding: 4px 10px 7px 10px;
    }

    .header-logo {
        width: 50%;
    }

    .header-logo-user {
        width: 40%;
    }

    /* banner styles */

    .head {
        font-size: 28px;
        line-height: 28px;
    }

    .s13 {
        width: 50%;
    }

    .s13-icon {
        right: 50%;
    }

    .rect-div img {
        right: -14%;
        top: 15%;
        width: 45%;
    }

    .california .card-body-div {
        width: 43%;
        top: 23px;
        right: -253px;
    }

    .california .list-img {
        top: -15px;
        left: 27px;
        width: 22%;
    }
}

@media screen and (max-width: 321px) {
    .head {
        font-size: 30px;
        line-height: 28px;
    }
}


@media screen and (max-width: 321px) {

    /* header style */
    .navbar-div {
        padding: 20px 0px;
    }

    .img-div {
        width: 50%;
        left: -18px;
    }

    /* banner style */

    .banner-effect-img {
        display: none;
    }

    .head {
        font-size: 23px;
        line-height: 23px;
    }

    .california-div {
        top: 11px;
        right: -50px;
        width: 50%;
    }

    .card-body p {
        padding: 0px 0px 0px 0px;
    }

    .card-body h5 {
        font-size: 12px;
        padding: 14px 0px 0px 6px;
    }

    .california {
        width: 60%;
    }

    .half-circle-img {
        width: 48px;
        right: -24px;
        top: -78px;
    }
}