* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mona Sans", serif;
}

/* common colors */

.bg-blue {
    background-color: #087DEA;
}

.text-blue {
    color: #087DEA;
}

.bg-skyBlue {
    background-color: #00D6E4;
}

.text-skyBlue {
    color: #00D6E4;
}

.bg-darkBlue {
    background-color: #011E4F;
}

.text-darkBlue {
    color: #011E4F;
}

.bg-lightGray {
    background-color: #636363;
}

.text-lightGray {
    color: #636363;
}

.sub-text-gray {
    color: #4c4c4c;
}

.sub-text-blue {
    color: #077fe9;
}

.sub-text-blue-size {
    font-weight: 900;
    font-size: 32px;
}

.sub-text-gray-size {
    font-size: 28px;
}

.description-text-lightGray {
    font-size: 12px;
}

.img-size {
    height: 150px;
}


/* header style */

.img-div {
    width: 20%;
}

.search-btn {
    padding: 0px 6px 4px 6px;
    border-radius: 50%;
    right: 10px;
    top: 10px;
}

.search-btn svg {
    fill: #ffffff;
    width: 14px;

}

.input-search {
    background-color: #eceaea;
    border: 1px solid #ccc;
}

.input-search::placeholder {
    font-size: 10px;
    display: flex;
    align-items: center;
}

.dropdown-text {
    font-size: 12px;
    font-weight: 500;
}

/* banner style */

.bg-img {
    background-image: url(../Images/hotranked\ homepage.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 15%;
}

.banner-img {
    width: 100%;
    margin: 0px auto;
}

.head {
    font-size: 48px;
    line-height: 48px;
    font-weight: 900;
}

.sub-head {
    font-size: 16px;
    font-weight: 700;
}

.description {
    font-size: 12px;
}

/* Our list section */

.card-text-font {
    font-size: 10px;
} 

.bg-card-img {
    background-color: #011E4F;
}

.icon-color {
    fill: #00D6E4;
}

.icon-size {
    width: 25%;
}

/* our list category style */

.img-div {
    width: 15%;
}

.img-one {
    left: 0px;
}

.img-two {
    left: 15px;
}

.img-three {
    left: 30px;
}

.para-catg {
    font-size: 12px;
    left: 55px;
    top: 5px;
}

.text-footer {
    font-size: 12px;
}


/* responsive */

@media screen and (max-width: 769px) {
    
    .img-div {
        width: 35%;
    }
    
    .dropdown-toggle::after {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    /* banner styles */

    .head {
        font-size: 52px;
    }
}

@media screen and (max-width: 426px) {
    
    .img-div {
        width: 50%;
    }
    
    .dropdown-toggle::after {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    .search-btn {
        padding: 4px 10px 7px 10px;
    }

    /* banner styles */

    .head {
        font-size: 32px;
        line-height: 32px;
    }
}
